:root {
  --background: #fbcfdd;
  --background2: #f9c9d8;
  --text: #652439;
  --link: #390a19;
  --topnavbg: #680838;
  --topnavtxt: #d480ab;
  --placeholder: #874057;
  --tag: #e3a9c7;
  --whitebackground: #1a020e;
}

img,.projectimage {
  filter: invert(1);
}