:root {
  --background: #043022;
  --background2: #063627;
  --text: #9adbc6;
  --link: #c6f5e6;
  --topnavbg: #97f7c7;
  --topnavtxt: #2b7f54;
  --placeholder: #78bfa8;
  --tag: #1c5638;
  --whitebackground: #e5fdf1;
}

/* ALL */
@font-face {
  font-family: "Beardy";
  src: url("homepage.woff2") format("woff2"),
    url("homepage.woff") format("woff"), url("homepage.ttf") format("truetype");
}
body {
  text-align: center;
  color: var(--text);
  background-color: var(--background);
  font-family: "Beardy", sans-serif;
  image-rendering: pixelated;
  overflow-x: hidden;
}
img {user-select: none;}
a {color: var(--text);}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}
.topnav {
  width: 100%;
  background-color: var(--topnavbg);
  overflow: hidden;
  padding: 1vh;
}
.topnav a {
  color: var(--topnavtxt);
  float: left;
  text-decoration: none;
  font-size: 5vh;
  padding: 0 8px;
  pointer-events: auto;
}
.topnav a:hover {
  color: var(--background);
}
.topnav img {
  float: left;
  width: 5vh;
  padding-right: 5px;
}
.titleLink {
  color: var(--link);
  background-color: transparent;
}
.searchbar {
  float: right;
  display: inline;
  margin-right: 16px;
  max-width: 35vw;
  min-width: 15vw;
  width: calc(100% - 10vh);
  min-height: 3vh;
  padding: 1vh;
  font-size: 3vh;
  background-color: var(--topnavtxt);
  color: var(--link);
  border: none;
  font-family: Beardy;
  pointer-events: auto;
}
.searchbar::placeholder {color: var(--placeholder);}
input:focus {outline: none;}
.searchbar::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.searchbar::-moz-search-cancel-button {
  -moz-appearance: none;
}

@media only screen and (max-width: 900px) {
  .topnav a {
    padding: 2px;
    font-size: 3vh;
  }
  .topnav img {
    padding-right: 1px;
    width: 3vh;
  }
  .minigameIcon {
    height: 3vh !important;
  }
  .searchbar {
    height: 3vh;
    padding: 0.5vh;
    font-size: 3vh;
  }
}
@media only screen and (max-width: 500px) {
  .topnav a {
    padding: 1px;
    font-size: 2vh;
  }
  .topnav img {
    padding-right: 1px;
    width: 2vh;
  }
  .minigameIcon {
    height: 2vh !important;
  }
  .searchbar {
    height: 1.5vh;
    padding: 0.5vh;
    font-size: 1.5vh;
  }
}

/* HOME */
#side {
  background-color: var(--topnavtxt);
  width: 200px;
  max-width: 40vw;
  padding: 5px;
  text-align: left;
  font-size: 20px;
  overflow: auto;
  flex: 1;
}
#side a {
  margin: 0;
  display: block;
  text-decoration: underline;
  pointer-events: auto;
}
#side a:hover {
  color: var(--link);
}
#socials {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 196px;
  max-width: calc(40vw - 4px);
  padding: 5px;
  background-color: var(--background2);
  border: 2px solid var(--topnavbg)
}
#socials a {
  flex: 1;
  display: flex;
}
#socials img {
  flex: 1;
  margin: 3px;
}
#socials img:hover {
  flex: 1;
  margin: 1px;
}
.oldsocial {
  opacity: 40%;
}
.oldsocial:hover {
  opacity: 100%;
}
#page {
  padding: calc(5vh + 30px) 0 0 calc(min(200px, 40vw) + 30px);
}
#page a {
  display: block;
  margin: 0 0 5px;
  text-align: left;
  font-size: 16.7px; /* hahah 67 */
}
#page div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
  justify-content: start;
  gap: 5px;
  margin-bottom: 10px;
}
.project {
  text-decoration: none;
  width: 200px;
  display: block;
  position: relative;
  border: var(--text) solid 2px;
  padding: 2px;
}
.projectimageouter {
  position: relative;
  height: calc(200px / (630/500));
}
.projectimage {
  width: 200px;
  aspect-ratio: 630 / 500;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.project p {
  text-align: center;
  z-index: 10;
  color: var(--link);
  font-size: 30px;
  margin: 0;
}
.gif-overlay {
  opacity: 0;
  z-index: 9;
  transition: opacity 0.20s ease-in-out;
}
.gif-overlay:hover {
  opacity: 1;
}

/* PROJECT */
#page iframe {
  background-color: var(--whitebackground);
  border: solid 4px var(--whitebackground);
  position: relative;
  z-index: 200;
  width: calc(100% - 10px);
  margin: 0;
  height: calc(100vh - 5vh - 60px);
}
.esc {
  background-color: var(--background);
  color:var(--link);
  padding: 5px;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  text-align: left;
  z-index: 300;
}

/* EXPLORE */
#tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 0 4px;
  justify-content: flex-start;
  padding-right: 10px;
}
#tags a {
  display: inline;
  background: var(--tag);
  width: min-content;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  margin: 2px 0 !important;
  cursor: pointer;
}
.loadbar {
  display: inline-block !important;
  width: 100px;
  height: 15px;
  background-color: #021b13;
  margin: 0 0 0 10px !important;
  position: relative;
}
.loadbar div {
  position: absolute;
  background: var(--topnavbg);
  height: 15px;
}

/* ART */

/* Photography */
.content {
  display: grid;
  margin: auto auto 5% auto;
}
.camspecs a {
  text-decoration: none !important;
}
.camspecs img {
  width: 50px;
  display: block;
  margin: 50px auto 0;
}

/* About */
.about {
  width: 80vw;
  margin: 0 auto;
  border: solid 0.3vw;
  display: flex;
  background: var(--background)
}
.socialsouter {
  width: 30vw;
  border-right: solid 0.3vw;
}
.socialsouter p {
  margin: 0 0 0.2vw;
  font-size: 3vw;
}
.socials {
  padding: 0;
  display: grid;
  grid-template-columns: 50% 50%;
}
.socials a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1vw;
}
.socials img {
  width: 5vw;
  height: 5vw;
  display: block;
}
.socials p {
  margin: 0;
  display: block;
  font-size: 1.3vw;
  width: 100%;
  margin-top: 1vw;
}
.bio {
  width: 70vw;
  padding: 1vw;
  font-size: 1.15vw;
  text-align: left;
}
.bio p {
  margin: 0;
}

/* HOLIDAY */
.minigameIcon {
  width: auto !important;
  height: 5vh;
}