/* ALL */
@font-face {
  font-family: "Beardy";
  src: url("homepage.woff2") format("woff2"),
    url("homepage.woff") format("woff"), url("homepage.ttf") format("truetype");
}
body {
  text-align: center;
  color: #9adbc6;
  background-color: #043022;
  font-family: "Beardy", sans-serif;
  image-rendering: pixelated;
  overflow-x: hidden;
}
img {user-select: none;}
a {color: #9adbc6;}

.topnav {
  width: 98.5%;
  padding: 0.1%;
  position: fixed;
  background-color: #97f7c7;
  overflow: hidden;
}
.topnav a {
  color: #2b7f54;
  float: left;
  padding: 0.8%;
  text-decoration: none;
  font-size: 250%;
}
.topnav img {
  height: 5vh;
}
.titleLink {
  color: #c6f5e6;
  background-color: transparent;
}
.copyright {
  text-align: left;
  position: fixed;
  bottom: 0;
  padding: 1vh;
  background: #043022;
  margin: 1vh 0;
}

/* HOME */
.hometitle {
  margin-bottom: 3%;
  margin-top: 5%;
  font-size: 8vw;
  font-weight: 500;
  color: #c6f5e6;
}
.homeBox {
  border: solid #9adbc6 0.5vw;
  margin: 3vw 20vw;
  padding: 1%;
}
.homeBox h2 {
  font-weight: 500;
  font-size: 5vw;
  margin: 1vh 0 3vh;
}
.homepic {
  width: 75%;
  border: solid #9adbc6 0.6vw;
}
.homeLink {
  height: 25%;
}

/* ART */
.art {
  border: solid #9adbc6 0.5vw;
}

/* Javascript */
.jscontent {
  display: grid;
  grid-template-columns: 32vw 33vw 33vw;
  margin: auto auto 5% auto;
}
.js {
  margin-bottom: 3%;
  color: #9adbc6;
  text-decoration: underline;
}
.jsBox {
  background: #043022;
  overflow: hidden;
  font-size: 200%;
  margin: 2% 2%;
  border: solid #9adbc6 0.3vw;
  padding: 1.5% 1%;
}
.jsBox img {
  width: 13em;
}

/* Photography */
.content {
  display: grid;
  margin: auto auto 5% auto;
}

/* Blog */
#paper {
  image-rendering: auto;
  border: #9adbc6 solid 0.4vw;
  padding: 1vw;
  margin: 13vh 2vw;
  background:#043828;
}
.blogHeader {overflow: hidden;}
.blogHeader a {
  font-size: 4vw;
  font-weight: 500;
  color: #c6f5e6;
}
#columns {
  display: flex;
}
.column {
  word-wrap: break-word;
  text-align: justify;
  padding: 1%;
}
.column h3 {
  font-size: 2vw;
  font-weight: 600;
  margin: 1vh 0;
  word-wrap: break-word;
  text-align: left;
}
.column p {
  margin: 0;
  font-size: 1.3vw;
}
.column img {
  width: 100%;
  border: 0.25vw solid;
}

/* About */
.about {
  width: 80vw;
  margin: 0 auto;
  border: solid 0.3vw;
  display: flex;
}
.socialsouter {
  width: 30vw;
  border-right: solid 0.3vw;
}
.socialsouter p {
  margin: 0 0 0.2vw;
  font-size: 3vw;
}
.socials {
  padding: 0;
  display: grid;
  grid-template-columns: 50% 50%;
}
.socials a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1vw;
}
.socials img {
  width: 5vw;
  height: 5vw;
  display: block;
}
.socials p {
  margin: 0;
  display: block;
  font-size: 1.3vw;
  width: 100%;
  margin-top: 1vw;
}
.bio {
  width: 70vw;
  padding: 1vw;
  font-size: 1.15vw;
  text-align: left;
}
.bio p {
  margin: 0;
}

@media only screen and (max-width: 1006px) {
  .topnav a {
    font-size: 150%;
    padding: 1.5%;
  }

  .hometitle {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 357px) {
  .hometitle {
    margin-top: 160px;
  }
}

/*special*/
.egg {
  background: #9adbc6;
  position: fixed;
  top: 2vh;
  left: 2vw;
  border: #9adbc6 solid 0.5vw;
}
.open {
  width: 10vw;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 1000;
}