body {
  user-select: none;
  color: #9adbc6;
  background-color: #043022;
  font-family: "Lucida Console", Verdana, sans-serif;
}
a {
  color: #9adbc6;
  margin-bottom: 0.75%;
}
button {
  user-select: none;
  background-color: #063627;
  color: #9adbc6;
  border: 1px #9adbc6 solid;
  padding: 0.2%;
  font-family: "Lucida Console", Verdana, sans-serif;
}
textarea {
  background-color: #063627;
  color: #9adbc6;
  border: 1px #9adbc6 solid;
}
textarea::placeholder {
  color: #78bfa8;
}
input {
  background-color: #063627;
  color: #9adbc6;
  border: 1px #9adbc6 solid;
}
input::placeholder {
  color: #78bfa8;
}
